.metadata/
Release/
Debug/
*.o
.DS_Store
*.cyfit
*.cyprj.*
*.cyrpt
*.cywrk.*
*_timing.html
*.cydsn/Debug/
*.cydsn/codegentemp
*.hex
*.elf
*.map
*.ld
*.cydsn/CortexM0/
*.cydsn/Export/
*.cydsn/*.rpt
*.cydsn/*.cyfit
*.cydsn/*.svd
*.cydsn/*.cycdx
*.cydsn/Generated_Source/
